@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --VeryLightGrayishBlue: hsl(240, 78%, 98%);
  --LightGrayishBlue: hsl(234, 14%, 74%);
  --GrayishBlue: hsl(233, 13%, 49%);
  --DarkGrayishBlue: hsl(232, 13%, 33%);
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  position: relative;
  background: url(images/bg-top.svg), url(images/bg-bottom.svg);

  background-repeat: no-repeat;
  background-position: top -37px right -195px, bottom left;
  background-color: var(--VeryLightGrayishBlue);

  font-size: 0.9rem;
  min-height: 100vh;
  width: 100vw;
  /* z-index: -100; */
}

.heading-section {
  padding: 3rem;
  text-align: center;
}

.heading-section h2 {
  font-size: 2rem;
}

.button-block span {
  font-size: 17px !important;
  font-weight: normal;
  color: var(--LightGrayishBlue);
  margin: 10px 5px;
}

.container {
  display: flex;
  min-height: 100vh;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* z-index: 100; */
}
.learn-more-btn {
  background-color: transparent;
  width: 90%;
  border-radius: 7px;
  color: var(--VeryLightGrayishBlue);
  padding: 0.5rem 3rem;
  background: linear-gradient(
    to right,
    hsl(236, 72%, 79%) to hsl(237, 63%, 64%)
  );
  border: 1px solid transparent;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
}
.learn-more-btn:hover {
  background: transparent;
  border: 1px solid var(--GrayishBlue);
  color: var(--DarkGrayishBlue);
}

.professional .learn-more-btn {
  background: var(--VeryLightGrayishBlue);
  color: var(--DarkGrayishBlue);
}

.professional .learn-more-btn:hover {
  background: hsl(237, 59%, 67%);
  color: var(--VeryLightGrayishBlue);
  border: 1px solid var(--VeryLightGrayishBlue);
}
.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.basic,
.professional,
.master {
  text-align: center;
  box-shadow: 0 1.5rem 1.5rem 0.5rem hsl(237deg 63% 64% / 10%);
  min-width: 300px;
  height: 380px;
}

.card .list {
  padding: 1rem;
}

.card {
  padding: 1rem;
  transition: all 0.5s;
}

.card .card-heading {
  padding: 1rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.card .card-heading .heading {
  transition: all 1s ease-in-out;
}

.card .dollar {
  font-size: 40px;
}

.box {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.professional {
  height: 420px;
  background: linear-gradient(150deg, hsl(236, 72%, 79%) to hsl(237, 63%, 64%));
  color: var(--VeryLightGrayishBlue);
}
input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
  z-index: 100;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 63px;
  height: 30px;
  background: hsl(237, 59%, 67%);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: hsl(238, 17%, 68%);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 50px;
}

.button-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .cards-section {
    flex-direction: column;
  }
  .box {
    margin: 10px 0;
  }
}
